/**
 * Defines global variables
 */


/**
* Typography
*/
$font-size: medium;
$font-family-sans: Calibri, Candara, Geneva, sans-serif;
$font-family-serif: Garamond, Cambria, Georgia, serif;
$font-family-mono: Consolas, Monaco, Courier New, monospace;
$line-height: 150%;
$header-font-family: $font-family-serif;
$header-font-weight: bold;


/**
 * Tables
 */
$table-border-color: #2C3E50;
$table-header-bgcolor: #95A5A6;
$table-alternating-row-bgcolor: #eee;
